{% extends "base.html" %}

 {% block main_content %}
<div class="blog-index">

<article class="article">
  <header class="article__header">
    <h2 class="article__title">
      <a class="article__title-permalink" href="/p/{{episode.date_created.year}}/{{episode.date_created.month}}/{{episode.date_created.day}}/podcast-{{episode.number}}">{{episode.title}}</a>
    </h2>

    <p class="article__meta">
      <time class="article__datetime" datetime="{{episode.date_created}}" pubdate="" data-updated="true">
        {{episode.date_created.strftime("%Y-%m-%d")}}
      </time>
    </p>
  </header>

  <div class="article__content">
  
  <p><img src="{{episode.cover_url}}" alt=""></p>

  <ul>
    {% for theme in episode.themes %}
    <li>{{theme}}<br /></li>
    {% endfor %}
  </ul>

  <p><a href="/{{episode.mp3_url}}">аудіо</a><br>
    <audio src="/{{episode.mp3_url}}" preload="none"></audio>
    </p>
    </div>

  </article>
</div>

 {% endblock %}
