{% extends "base.html" %}

 {% block main_content %}
  <div class="blog-index"></div>
{% for episode in episodes.items %}
</article>

  
    <article class="article">
  <header class="article__header">
    <h2 class="article__title">
      <a class="article__title-permalink" href="{{episode.link}}">{{episode.title}}</a>
    </h2>

    <p class="article__meta">
      <time class="article__datetime" datetime="{{episode.puddate}}" pubdate data-updated="true">
        2021-10-10
      </time>
      | <a class="article__comments-link" href="{{episode.link}}#remark42"><span class="remark42__counter" data-url="{{episode_link}}"></span> коментарів</a>
    </p>
  </header>

  <div class="article__content">
  
  <p><img src="{{episode.cover}}" alt="" /></p>

  <ul>
    {% for theme in episode.themes %}
    <li>{{theme}}<br /></li>
    {% endfor %}
</ul>

<p><a href="{{episode.audio}}">аудіо</a><br />
<audio src="{{episode.audio}}" preload="none"></audio></p>

  
  </div>
    </article>
    {% endfor %}

  

  
    <div class="pagination content__pagination">
      
        <a class="pagination__link pagination__prev" href="/?page=2">&larr;&nbsp;Раніше</a>
      

      <a class="pagination__link pagination__archive" href="/archives/">Архіви подкасту</a>

      
        <div class="pagination__no-link"></div>
      
    </div>
  
  </div>

 {% endblock %}
