{% extends "base.html" %}

 {% block main_content %}
<div class="single-page">
    <header>
      <h1 class="single-page__title">Ліцензія</h1>
    </header>

    <div class="article__content single-article__content">
      <p><img src="images/by-nc-nd.png" alt=""></p>

<p>Подкаст розповсюджується під ліцензією <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/">Creative Commons - Attribution, Noncommercial, No Derivative Works 3.0 License</a> Це значить, що ви можете слухати цей подкаст на чому завгодно, як вам заманеться та де вам зручно, зберігати в себе, ділитись з друзями та знайомими та навіть публиковати на своїх сайтах/блогах. При цьому (публикації) потрібно явно позначати посилання на оригінальний сайт <a href="https://plyazhcast.org.ua">https://plyazhcast.org.ua</a></p>

<p>Ніяких модификацій, міксів, нарізок та іншого додаткової творчості, над аудіо та текстами виконувати <strong>не дозволяється.</strong> Але якщо вам раптом дуже треба - <a href="mailto:plyazcast@ukr.net">зв'яжіться</a> і ми це обговоримо.</p>

    </div>
</div>
  

 {% endblock %}
